.boton1{
    border-radius: 10px 0 0 10px;
}


.boton2{
    border-radius: 0px 10px 10px 0;
}

.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: 2px solid #a1a1a1; /* Color del borde inicial */
    border-radius: 0.25rem;
    background-color: white;

}

.custom-checkbox:checked {
    border-color: #959595; 
    background-color: #ffffff;
}

.custom-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 0.1rem;
    left: 0.4rem;
    width: 0.25rem;
    height: 0.75rem;
    border: solid rgb(0, 0, 0);
    border-width: 0 0.1rem 0.1rem 0;
    transform: rotate(45deg);
}


.checkbox2 {
    border: 3px solid #f25500; /* Color del borde inicial */
}
.checkbox2:checked{
    border: solid #f25500;
}

.checkbox3 {
    border: 3px solid #0092fa; /* Color del borde inicial */
}
.checkbox3:checked{
    border: solid #0092fa;
}
.checkbox4 {
    border: 3px solid #20b40a; /* Color del borde inicial */
}
.checkbox4:checked{
    border: solid #20b40a;
}

